html, body {
    margin:                  0;
    padding:                 0;
    font-family:             Nunito, sans-serif;
    line-height:             1;
}

a {
    text-decoration:         none;
    color:                   inherit;
}

a:hover {
    text-decoration:         underline;
}

section, footer {
    padding:                 25px;
}

.center {
    max-width:               1024px;
    margin-left:             auto;
    margin-right:            auto;
}

/*=======================================================*/
/*----------------------- Header ------------------------*/
/*=======================================================*/

.contact-header {
    display: flex;
    align-items: flex-end;
}

.logo-bar {
    display:                 flex;
    flex-direction:          column;
    align-items:             center;
    justify-content:         flex-end;
    height:                  500px;
    background-image:        url(../img/forest.jpg);
    background-size:         cover;
    background-repeat:       no-repeat;
    background-position:     center;
}

h1 {
    margin:                  0px;
    font-family:             Lobster Two, sans-serif;
    font-size:               45pt;
    font-weight:             400;
    font-style:              italic;
    color:                   #ffffff;
    line-height:             2;
    margin-bottom: 20px;
}

.nav-bar {
    background-color:        #134363;
}

.nav {
    display:                 flex;
}

.nav-item {
    height:                  20px;
    min-width:               20px;
    padding:                 15px;
    font-family:             Nunito, sans-serif;
    font-size:               14pt;
    font-weight:             700;
    color:                   #ffffff;
    line-height:             20px;
    text-align:              center;
}

.nav-item:hover {
    background-color:        #0e324a;
    text-decoration:         none;
}



/*=======================================================*/
/*---------------------- Sections -----------------------*/
/*=======================================================*/

.grey-section {
    background-color: #f8f8f8;
}

.section-title {
    padding: 25px;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-size: 22pt;
    font-weight: 600;
}

.section-break {
    height: 2px;
    width: 100px;
    background-color: #222222;
}

.section-text {
    padding: 25px;
    font-size: 14pt;
    line-height: 1.5;
}

.section-text p:first-of-type {
    margin-top: 0px;
}

.section-text p:last-of-type {
    margin-bottom: 0px;
}

.section-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 1.5;
}

.section-column {
    display: flex;
    flex-direction: column;
}

.section-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
}

.column-title {
    margin-bottom: 5px;
    font-weight: 700;
}

.section-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.section-image {
    display: flex;
    justify-content: center;
}

.section-facebook {
    padding: 25px;
}

.button-link {
    margin: 5px;
    padding: 10px;
    background-color: #134363;
    border-radius: 3px;
    font-family: Nunito, sans-serif;
    font-size: 12pt;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 25px;
    border: none;
    cursor: pointer;
}

.button-link:hover {
    background-color: #0E324A;
}

.section-form {
    display: flex;
    padding: 25px;
}

.form-column {
    width: 50%;
    padding-right: 50px;
}

.form-column:last-of-type {
    padding-right: 0px;
}

.form-row {
    display: flex;
    min-height: 40px;
    line-height: 40px;
    padding-bottom: 10px;
}

.form-item {
    display: flex;
    flex: 1;
    padding-right: 10px;
}

.form-item:last-of-type {
    padding-right: 0px;
}

input:not([type="submit"]) {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;

    font-family: Nunito, sans-serif;
    font-size: 12pt;
    line-height: 1;
    border: solid 1px #aaaaaa;
    border-radius: 3px;
}

textarea {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 10px;

    font-family: Nunito, sans-serif;
    font-size: 12pt;
    line-height: 1;
    border: solid 1px #aaaaaa;
    border-radius: 3px;

    resize: none;
}

.form-button {
    padding: 10px;
    background-color: #134363;
    border-radius: 3px;
    font-family: Nunito, sans-serif;
    font-size: 12pt;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 25px;
    border: none;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0E324A;
}






@media (max-width: 1080px) {
    .section-form {
        flex-direction: column;
    }

    .form-column {
        width: 100%;
    }
}